{% extends '@BKCore/layout.html.twig' %}

{% block main_content %}
    <div id="hero" class="static-header register-version light clearfix">

        <div class="text-heading">
            <h1 class="animated hiding" data-animation="bounceInDown" data-delay="0">Increase <span
                        class="highlight">sales</span> <span class="thiner">for <br>your online store</span> automatically</h1>

            <p class="animated hiding" data-animation="fadeInDown" data-delay="500">With world's first virtual
                marketer</p>
            <div class="button-access">
                <div class="count">
                    Join {{ businessesCount }} businesses all around the world
                </div>
                <div class="button-signup">
                    <a href="#sign-up" class="btn btn-primary animated bounceIn visible to-sign-up-form"
                       data-animation="bounceIn"
                       data-delay="700">Get early access NOW!</a>
                </div>
            </div>

        </div>

    </div>

    <a id="sign-up"></a>
    <section id="join-form" class="section dark">
        <div class="container">
            <div class="section-header animated fadeInDown visible" data-animation="fadeInDown">
                <h2>Save your time and make more money</h2>

                <div class="sub-heading">
                    Let Beeketing help you with marketing and online selling
                </div>
                <br>

                <p>
                    {% include 'BKCoreBundle:Default:subscribe_form.html.twig' %}
                </p>
                <p class="word-hard">Beeketing works hard to grow your business</p>
            </div>
            <div class="container animated fadeInDown visible" data-animation="fadeInDown">
                <div class="col-md-4 col-sm-4 col-xs-12 increase">
                    <article class="center">
                        <div class="layout-img">
                            <img src="{{ asset('bundles/bkcore/images/switch/icon-increase.png') }}" class="img-responsive"
                                 alt="increase">
                        </div>

                        <span class="h7">Increase Sales</span>

                        <p class="thin">Beeketing can help you increase 20%-75% revenue. </p>
                    </article>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 heart">
                    <article class="center">
                        <div class="layout-img">
                            <img src="{{ asset('bundles/bkcore/images/switch/icon-heart.png') }}" class="img-responsive"
                                alt="customers">
                        </div>
                        <span class="h7">Happy Customers</span>

                        <p class="thin">We help you send content that your customers actually want.</p>
                    </article>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 clock">
                    <article class="center">
                        <div class="layout-img">
                            <img src="{{ asset('bundles/bkcore/images/switch/icon-clock.png') }}" class="img-responsive"
                                 alt="clock">
                        </div>
                        <span class="h7">More Free Time</span>

                        <p class="thin">You don't have to spend time managing anything, just sit back and wait for money
                            to come. </p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="section dark">
        <div class="container">

            <div class="work section-header animated fadeInDown visible" data-animation="fadeInDown">
                <h2>How it <span class="highlight">works?</span></h2>

                <div class="sub-heading">
                    So people are visiting your online store but not buying?
                    <br>You're too busy and don't know how to fix that?
                </div>
                <div class="row col-sm-12 col-md-12">
                    <img src="{{ asset('bundles/bkcore/images/story/sad_businessman.png') }}" class="img-responsive"
                         alt="process 3">
                </div>
            </div>

            <div class="section-content row">
                <div class="col-sm-6 pull-right animated hiding" data-animation="fadeInRight">
                    <img src="{{ asset('bundles/bkcore/images/story/happy_shopper.jpg') }}"
                         class="img-responsive"
                         alt="process 2"/>
                </div>
                <div class="col-sm-6 animated hiding clearfix" data-animation="fadeInLeft">
                    <br/><br/>
                    <article>
                        <h3><span class="highlight">Happy</span> Customers</h3>

                        <div class="sub-title">After first order, Beeketing helps to make your customers happier by
                            sending a personalized thank-you email on behalf of founder to make them surprised
                            and engaged with your brand more.
                        </div>
                    </article>
                </div>

                <hr class="clearfix"/>

                <div class="col-sm-6 animated hiding" data-animation="fadeInLeft">
                    <img src="{{ asset('bundles/bkcore/images/story/increase_sales.png') }}"
                         class="img-responsive"
                         alt="process 3"/>
                </div>
                <div class="col-sm-6 animated hiding sell-more" data-animation="fadeInRight">
                    <div class="row">


                        <br/><br/>
                        <article>
                            <h3>Sell <span class="highlight">More</span></h3>

                            <div class="sub-title">By tracking and analyzing your customers' browsing and purchase history,
                                Beeketing knows what they want and helps you promote motivating products to encourage them
                                buy
                                more.
                            </div>
                        </article>
                    </div>
                </div>

                <hr class="clearfix"/>

                <div class="col-sm-6 pull-right animated hiding money-making clearfix" data-animation="fadeInRight">
                    <img src="{{ asset('bundles/bkcore/images/story/woman-working-from-beach-horiz.jpg') }}"
                         class="img-responsive"
                         alt="process 3"/>
                </div>
                <div class="col-sm-6 animated hiding money-making" data-animation="fadeInLeft">
                    <br/><br/>
                    <article>
                        <h3><span class="highlight">Money-making</span> machine</h3>

                        <div class="sub-title">We know you're too busy already, that's why Beeketing was born to help
                            you
                            plan and execute best marketing campaigns such as: email marketing, cross-sell, up-sell,...
                            automatically. You don't need to manage anything, just sit back and wait for more sales to
                            come.
                        </div>
                    </article>
                </div>


                <hr class="clearfix"/>

                <div class="col-sm-6 animated hiding super-easy" data-animation="fadeInLeft">
                    <img src="{{ asset('bundles/bkcore/assets/img/features/content_image1.png') }}"
                         class="img-responsive"
                         alt="process 3"/>
                </div>
                <div class="col-md-offset-1 col-sm-5 animated hiding super-easy" data-animation="fadeInRight">
                    <br/><br/>
                    <article>
                        <h3>Super <span class="highlight">Easy</span></h3>

                        <div class="sub-title">Beeketing works out-of-the-box with your online stores. Just a few clicks
                            and Beeketing is ready to work for you.
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </section>

    <section id="sign-up-form-2" class="section dark">
        <div class="container">
            <div class="section-header animated fadeInDown visible" data-animation="fadeInDown">
                <h2>Don't believe what we said?</h2>

                <div class="sub-heading">
                    Sign up for early access now and try it yourself
                </div>
                <br>

                <p>
                    {% include 'BKCoreBundle:Default:subscribe_form.html.twig' %}
                </p>
            </div>
        </div>
    </section>
{% endblock main_content %}