{% extends '@BKCore/layout.html.twig' %}
{% block navigation %}
    <div class="navigation-brand">
        <div class="brand-logo">
            <a href="{{ path('bk_core_homepage') }}" class="logo" title="Beeketing">
                <span class="sr-only">Beeketing</span></a>
        </div>
    </div>
{% endblock navigation %}
{% block main_content %}
    <div id="hero" class="static-header register-version light clearfix">

        <div class="text-heading">
            <p class="animated hiding" data-animation="fadeInDown" data-delay="500">The most simple & profitable</p>
            <h1 class="animated hiding" data-animation="bounceInDown" data-delay="0">Marketing Automation Tool</h1>
            <p class="animated hiding" data-animation="fadeInDown" data-delay="500">for online sellers</p>
            <div class="button-access">
                <div class="count">
                    Join {{ businessesCount }} businesses all around the world
                </div>
                <div class="button-signup">
                    <a href="#sign-up" class="btn btn-success animated bounceIn visible to-sign-up-form"
                       data-animation="bounceIn"
                       data-delay="700">get started</a>
                    <div class="arrow-down move-bounce">
                        <div class="arrow" data-animation="bounce" data-delay="0">
                            <a href="#arrow1" class="arrow1"><img src="{{ asset('bundles/bkcore/images/icons/arrow-down-white.png') }}" alt="arrow"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a id="sign-up"></a>
    <section id="join-form" class="section dark">
        <div class="container">
            <div class="section-header animated fadeInDown visible" data-animation="fadeInDown">
                <h2>Do you want more sales?</h2>
                <div class="sub-heading">
                    Beeketing grows our revenue by 20% right after the first month!
                    Will the next be yours?
                </div>
                <p>
                    {% include 'BKCoreBundle:Default:subscribe_form.html.twig' %}
                </p>
                <div class="arrow-down-red move-bounce">
                    <div class="arrow">
                        <a href="#arrow2" class="arrow2"><img src="{{ asset('bundles/bkcore/images/icons/arrow-down.png') }}" alt="arrow"/></a>
                    </div>
                </div>
                <p class="word-hard">Sounds good, but what do I get from joining?</p>
            </div>

        </div>
    </section>

    <section id="about" class="section dark">
        <div class="container">
            <div class="section-content row">               
                <div class="col-md-5 col-sm-12 animated hiding clearfix Track" data-animation="fadeInLeft">
                    <br/><br/>
                    <article>
                        <h3>Track & Analyze</h3>
                        <h3>Customers' browsing history</h3>

                        <div class="sub-title">
                            <ul>
                                <li>Understand your customers better</li>
                                <li>Realize more potential sales</li>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class=" col-md-7 col-sm-12 pull-right animated hiding Track-img" data-animation="fadeInRight">
                    <img src="{{ asset('bundles/bkcore/images/story/viewed.png') }}"
                         class="img-responsive"
                         alt="process 2"/>
                </div>                
                <hr class="clearfix"/>
                <div class="col-md-12">
                    <div class="row">
                        <div class="arrow-down-red move-bounce">
                            <div class="arrow">
                                <a href="#arrow3" class="arrow3"><img src="{{ asset('bundles/bkcore/images/icons/arrow-down.png') }}" alt="arrow"/></a>
                            </div>
                        </div>
                    </div>
                </div>               
                <div class="col-lg-5 col-lg-offset-1 col-sm-12 col-md-6 animated hiding sell-more pull-right" data-animation="fadeInRight">
                    <div class="row">
                        <br/><br/>
                        <article>
                            <h3>Automatically create & send</br>personalized emails that sell</h3>

                            <div class="sub-title">Do you find it hard to make good sale emails that</br>
                                actually convert customers?</br>
                                Worry no more, we'll do it all for you!
                            </div>
                        </article>
                    </div>
                </div>
                <div class=" col-md-6 col-sm-12 animated hiding pull-left sell-more-img" data-animation="fadeInLeft">
                    <img src="{{ asset('bundles/bkcore/images/story/increase_sales.png') }}"
                         class="img-responsive"
                         alt="process 3"/>
                </div>
                <hr class="clearfix"/>
                <div class="col-md-12">
                    <div class="row">
                        <div class="arrow-down-red arrow-down-red-2 move-bounce">
                            <div class="arrow">
                                <a href="#arrow4" class="arrow4"><img src="{{ asset('bundles/bkcore/images/icons/arrow-down.png') }}" alt="arrow"/></a>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="col-sm-12 col-md-5 animated hiding money-making" data-animation="fadeInLeft">
                    <br/><br/>
                    <article>
                        <h3>Show products</br>
                        your customers more likely </br>
                        to buy</h3>

                        <div class="sub-title">
                            Increase conversion rate
                        </div>
                    </article>
                </div>
                <div class="col-sm-12 col-md-7 pull-right animated hiding money-making-img clearfix" data-animation="fadeInRight">
                    <img src="{{ asset('bundles/bkcore/images/story/love-these.png') }}"
                         class="img-responsive"
                         alt="process 3"/>
                </div>
                <hr class="clearfix"/>
                <div class="col-md-12">
                    <div class="row">
                        <div class="arrow-down-red arrow-down-red-3 move-bounce">
                            <div class="arrow">
                                <a href="#arrow5" class="arrow5"><img src="{{ asset('bundles/bkcore/images/icons/arrow-down.png') }}" alt="arrow"/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="grow-revenue">
                            <h3>Beeketing can help you grow revenue by <span class="red">20-75%</span></h3>
                            <img src="{{ asset('bundles/bkcore/images/story/grow-revenue.png') }}" alt="process 3"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sign-up-form-2" class="section dark">
        <div class="container">
            <div class="section-header animated fadeInDown visible" data-animation="fadeInDown">
                <h2>Don't believe what we said?</h2>

                <div class="sub-heading">
                    Sign up for early access now and try it yourself
                </div>
                <br>

                <p>
                    {% include 'BKCoreBundle:Default:subscribe_form.html.twig' %}
                </p>
            </div>
        </div>
    </section>
{% endblock main_content %}
{% block footer %}
    <footer id="footer" class="footer light landing">
        <div class="container">
            <div style="height: 120px;" class="space-height"></div>
            <div class="social-links">
                <ul class="nav nav-pills">
                    <li class="facebook">
                        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbeeketing&amp;width=100&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21"
                                scrolling="no" frameborder="0"
                                style="border:none; overflow:hidden; width:100px; height:21px;"
                                allowTransparency="true"></iframe>
                    </li>
                    <li class="twitter">
                        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                                src="//platform.twitter.com/widgets/follow_button.html?screen_name=beeketing"
                                style="width:200px; height:20px;"></iframe>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright-mobile"><a style="color: white;" href="mailto:quan@beeketing.com">Contact Us</a>
            <p>&copy; Beeketing 2014. All rights reserved.</p>
        </div>
        <div class="copyright"><a style="color: white;" href="mailto:quan@beeketing.com">Contact Us</a> | &copy; Beeketing 2014. All rights reserved.
        </div>
    </footer>
{% endblock footer %}