{% extends '@BKCore/layout.html.twig' %}
{% block header %}
<header class="login-page">

    <div class="container">
        <nav class="navigation navigation-header">
            {% block navigation %}
                <div class="navigation-brand">
                    <div class="brand-logo">
                        <a href="{{ path('bk_core_homepage') }}" class="logo" title="Beeketing">
                            <span class="sr-only">Beeketing</span></a>
                    </div>
                </div>
            {% endblock navigation %}
        </nav>
        <div class="navbar-header">
            <p>Menu</p>
            <button class="navbar-toggle collapsed menu-button" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="navbar-collapse bs-navbar-collapse collapse menu" role="navigation" style="height: 1px;">
            <p>Menu</p>
            <button class="navbar-toggle collapsed menu-button" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
                {#<li>#}
                {#<a href="#" data-hover="Features"><span>Features</span></a>#}
                {#</li>#}
                <li>
                    <a href="{{ url('bk_core_pricing') }}" data-hover="Pricing"><span>Pricing</span></a>
                </li>
                <li>
                    <a href="{{ url('bk_core_login') }}" data-hover="Login"><span>Login</span></a>
                </li>
                <li class="Get-started">
                    <a href="{{ url('bk_core_sign_up') }}" data-hover="Get started"><span>Get started</span></a>
                </li>
            </ul>
        </nav>
    </div>

</header>
{% endblock header %}


{% block main_content %}
    {#Html here#}
    <section id="pricing">
        <div class="container">
            <div class="col-md-6 information">
                <h1>Super simple <span>pricing</span></h1>
                <div class="information-1">
                    <h2>That's only</h2>
                    <div class="price">
                        <h1>$0.09</h1>
                    </div>
                    <p>per customer per month</p>
                </div>
                <div class="information-2">
                    <p class="price">$22.5<span>/Montth<span></p>
                    <p>for every 250 customers</p>
                </div>
                <div class="information-3">
                    <div class="col-md-6 col-xs-8">
                        <p>30 days free trial, cancel anytime </p>
                    </div>
                    <div class="col-md-6 col-xs-4 button-access">
                        <input type="submit" class="btn btn-primary" value="Get started now">
                    </div>
                </div>
            </div>
            <div class="col-md-5 pull-right information-img">
                <img src="{{ asset('bundles/bkcore/images/login/xinh.png') }}" alt="cuoi"/>
                <div class="information-img-1">
                    <h3>All plans include</h3>
                    <ul>
                        <li>Automatically integreate and sync with online stores</li>
                        <li>Unlimited tracking actions</li>
                        <li>Smart recommendation system</li>
                        <li>Unlimited emails</li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    <footer id="footer-login" class="footer light">
        <div class="container">
            <div style="height: 39px;" class="space-height"></div>
            <div class="social-links">
                <ul class="nav nav-pills">
                    <li class="facebook">
                        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbeeketing&amp;width=100&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21"
                                scrolling="no" frameborder="0"
                                style="border:none; overflow:hidden; width:100px; height:21px;"
                                allowTransparency="true"></iframe>
                    </li>
                    <li class="twitter">
                        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                                src="//platform.twitter.com/widgets/follow_button.html?screen_name=beeketing"
                                style="width:200px; height:20px;"></iframe>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright-mobile"><a style="color: white;" href="mailto:quan@beeketing.com">Contact Us</a>
            <p>&copy; Beeketing 2014. All rights reserved.</p>
        </div>
        <div class="copyright"><a style="color: white;" href="mailto:quan@beeketing.com">Contact Us</a> | &copy; Beeketing 2014. All rights reserved.
        </div>
    </footer>
{% endblock footer %}