{% extends '@BKCore/layout.html.twig' %}

{% block container_class %}text-center thank{% endblock %}

{% block main_content %}
    {% set shareUrl = url('bk_core_homepage', { 'ref': contact.code }) %}

        <p class="referral">You are #{{ contact.position }} on our waiting list.</p>

        <h1 class="big-award">Want to cut in line and get $500 credit to use Beeketing?</h1>

        <br>
        <p class="referral">Get 5 of your friends to sign up with this unique URL:</p>

        <br>
        <p><b>{{ url('bk_core_homepage', { 'ref': contact.code }) }}</b></p>
        <br>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center share-btns">
                <a class="share-facebook" href="http://www.facebook.com/share.php?u={{ shareUrl | url_encode }}&amp;title=Can't wait for #Beeketing, the first virtual marketer ever. Now accepting beta users." target="_blank">
                    <img src="{{ asset('bundles/bkcore/images/shareon.png') }}">
                </a>
                <a class="share-twitter" href="http://twitter.com/home?status=Can't wait for @beeketing, the first virtual marketer ever! Sign up for beta now: +{{ shareUrl | url_encode }}" target="_blank">
                    <img src="{{ asset('bundles/bkcore/images/tweeton.png') }}">
                </a>
            </div>	</div>

        <p style="margin-top: 1rem;">So far, you have <b>{{ invited }}</b> referrals.</p>
{% endblock main_content %}

{% block foot_scripts %}
    {{ parent() }}

    <script type="text/javascript">
        window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
        window.analytics.load("{{ segmentio_writekey }}");

        analytics.identify('{{ contact.id }}', {
            email: '{{ contact.email }}',
            code: '{{ contact.code }}',
            invited: '{{ invited }}',
            position: '{{ contact.position }}'
        });

        $(function() {
            $('.share-facebook').click(function() {
                analytics.track('Start Share Facebook');
            });

            $('.share-twitter').click(function() {
                analytics.track('Start Share Twitter');
            });
        });
    </script>
{% endblock foot_scripts %}